@model WebApplicationAlumnoCarrera.Models.detalle_AlumnoCarrera

@{
    ViewData["Title"] = "FicViAlumnoCarreraDetalle";
}

<h2>FicViAlumnoCarreraDetalle</h2>

<div>
    <h4>detalle_AlumnoCarrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApPaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApPaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApMaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApMaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesCarrera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesCarrera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesReticula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesReticula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesEspecialidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesEspecialidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaEgreso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaEgreso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaTitulacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaTitulacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaUltModSII)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaUltModSII)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PromedioActual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PromedioActual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PromedioPeriodoAnt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PromedioPeriodoAnt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PromedioFinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PromedioFinal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditosAprobados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditosAprobados)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditosCursados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditosCursados)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPuntosVigentes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPuntosVigentes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPuntosGenerados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPuntosGenerados)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SemestreActual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SemestreActual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaUltMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaUltMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioMod)
        </dd>
    </dl> 
</div>
<div>
    @Html.ActionLink("Edit", "FicViAlumnoCarreraUpdate", new { id = Model.IdAlumno }) |
    <a asp-action="Index">Back to List</a>
</div>
