@model IEnumerable<WebApplicationAlumnoCarrera.Models.list_AlumnoCarrera>

@{
    ViewData["Title"] = "FicViAlumnoCarreraList";
}

<h2>FicViAlumnoCarreraList</h2>

<p>
    <a asp-action="FicViAlumnoCarreraAdd">Create New</a>
</p>
<input type="text" id="myInput" placeholder="Search .." title="Type in a name">
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesCarrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEgreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTitulacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromedioActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditosAprobados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemestreActual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEgreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTitulacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromedioActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditosAprobados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemestreActual)
            </td>
            <td>
                @Html.ActionLink("Edit", "FicViAlumnoCarreraUpdate", new { id = item.IdAlumno }) |
                @Html.ActionLink("Details", "FicViAlumnoCarreraDetalle", new { id = item.IdAlumno }) |
                <!--@Html.ActionLink("Delete", "FicViAlumnoCarreraDelete",item.IdAlumno, new { onclick = "return confirm('Seguro?');" })-->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal"
                        data-whatever="item.IdAlumno">
                    Delete
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                            </div>
                            <div class="modal-body">
                                <h2 style="background-color:black;">¿Estas seguro de eliminar el registro?</h2>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                @Html.ActionLink("Delete", "FicViAlumnoCarreraDelete", new { id = item.IdAlumno })
                                <!--<input type="submit" value="Delete" class="btn btn-danger" asp-action="FicViAlumnoCarreraDelete" asp-route-id="item.IdAlumno" />-->
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
